/* Generali */
body {
  font-family: 'Montserrat', sans-serif;
}
.white {
  color: white;
}
.text-center {
  text-align: center;
}
/* .margin {
  margin-right: 40px;
} */
/* INIZIO HEADER */
/* Navbar */
.logo {
  margin-left: 47px;
  width: 70px;
}
.menu-top {
  text-align: center;

}
.menu-top li {
  display: inline-block;
  padding: 0 14px;

}

.menu-top a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 500;
  color: black;
}
.menu-top .language .white-space{
  /* border-right: 1px solid black; */

}

.burger {
/* display: none; */
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  text-align: right;
}
.burger a  {
  color: black;
}

.wrapper {
  padding: 15px;
}
.text-decoration {
  text-decoration: none;
}

/* Fine Navbar */

/* Jumbotron */

.jumbotron {
  background-image: url(../img/hero-bg.jpg);
  height: 500px;;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

/* .teaser h1 {
  font-weight: bold;
} */
.teaser h1 {
  font-size: 2.5em;
}
.teaser p {
  font-weight: 300;
  font-size: 0.9em;
  padding: 15px 0;
}
/* .apple {
  margin-right: 10px;
} */
/* Jumbotron Media Query */
@media all and (min-width: 992px){
  .apple {
    margin-right: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .badge {
    width: 30%;
  }
  .teaser h1 {
    font-size: 1.5em;
  }
  .teaser p {
    padding: 12px 0;
    font-size: 0.6em;
  }

}

@media all and (max-width: 767px) {
  .badge {
    width: 20%;
  }
  .teaser h1 {
    font-size: 1em;
  }
  .teaser p {
    padding: 5px 0;
    font-size: 0.5em;
  }
}

/* Fine Jumbotron Media Query */
/* Fine Jumbotron */

/* FINE HEADER */

/* MAIN */

/* Section Product */

#products {
  padding: 50px 0px;
}

.helbize-go , .helbize-bike {
  max-height: 22px;
  margin: 20px 0;
 }

.monopattino , .bicycle {
  max-width: 430px;
 }

.box {
  background-color: #fafafa;
  padding: 50px 0;
}
.product {
  margin-right: 40px;
}

.learn-more {
  margin: 20px 0;
}
/* MEDIA QUERY */
@media all and (min-width: 992px){

}
@media all and (min-width: 768px) and (max-width: 991px) {
  .product {
    margin-right: 0;
    margin-bottom: 10px;
  }


}
@media all and (max-width: 767px) {
  .product {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .monopattino , .bicycle {
    width: 50%;
  }

}
/* Fine Section Product */
/* Section Workflow */
.top {
  position: relative;
}
.phone-slide {
  position: absolute;
  top: 25%;
  left: 38%;
}

.phone {
  max-width: 400px;
}
.banner {
  background-image: url(../img/HelbizBanner.jpg);
  height: 500px;
  background-size: cover;
}
.oldman {
  width: 100%;
}
.text-left {
  margin-top: 156px;
  margin-left: 92px;
  width: 50%;
}
.text-right {
  margin-top: 156px;
  margin-left: 276px;
}
.text-left h2 {
  font-size: 2em;
}
.text-right h4 {
  margin-bottom: 10px;
}

/* MEDIA QUERY */

@media all and (min-width: 768px) and (max-width: 991px) {
  .phone {
    max-width: 300px;
  }
  .text-left {
    margin-top: 170px;
    margin-left: 31%;
    width: 100%;
    text-align: left;

  }
  .phone-slide {
    position: absolute;
    top: 25%;
    left: 31%;
  }
  .text-right {
    margin-top: 20px;
    margin-left: 31%;
    text-align: left;
  }
  .text-left h2 {
    font-size: 1.5em;
  }

}
@media all and (max-width: 767px) {
  .phone {
    max-width: 250px;
  }
  .text-left {
    margin-top: 100px;
    margin-left: 31%;
    /* width: 100%; */
    text-align: left;

  }
  .phone-slide {
    position: absolute;
    top: 40%;
    left: 31%;
  }
  .text-right {
    margin-top: 20px;
    margin-left: 31%;
    text-align: left;
  }
  .text-left h2 {
    font-size: 1.5em;
  }

}
/* FINE MEDIA QUERY */

/* Fine Section Workflow */

/* Section Assets */
#assets {
  padding-top: 40px;
  padding-bottom: 40px;
}
.didascalia {
  margin-top: 10px;
}
.text-titol {
  font-size: 2.6em;
  font-weight: 400;

}
.text-subtitol {
  font-size: 1.6em;
  font-weight: 400;

}
.text{
  font-size: 1.2em;
  margin: 20px 0;
}
.top-assets {
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-size: cover;
  height: 400px;
  margin-bottom: 40px;
}
.smart-mobility {
  padding: 80px;
}

.app {
  background: linear-gradient(#41566a,#252f38) 50% no-repeat;
  margin-right: 40px;
  padding-top: 10px;
}

.cities {
  background-image:url(../img/Cities-1500.jpg);
  height: 469px;
  background-size: cover;
  padding-top: 10px;
}
.app img {
  max-width: 400px;
  margin-top: 41px;
}

/* MEDIA QUERY */

@media all and (min-width: 768px) and (max-width: 991px) {
  .app {
    margin-right:0;
    margin-bottom: 40px;

  }
}
@media all and (max-width: 767px) {
  .app {
    margin-right:0;
    margin-bottom: 40px;

  }
}

/* Fine Section Assets */

/* Section Family */
#family {
  margin-bottom: 40px;
}
.helbiz-family {
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
}
.banner-family {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 450px;
  padding: 50px;
}

.social li {
  list-style: none;
  color: black;
  display: inline-block;
  margin-right: 15px;
}
.social a {
  color: black;
  font-size: 2em;
}
.banner-family h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
/* Fine Section Family */

/* FINE MAIN */
/* FOOTER */
footer {
  background-color: black;
  padding: 40px 0;
  /* height: 800px; */

}
/* Section Menu Footer */
.menu-footer {
  padding: 20px 0;
}
.liste , .liste a {
  list-style: none;
  text-decoration: none;
  color: grey;
  font-weight: 300;
  font-size: 0.8em;
}
li:first-child {
  font-weight: 500;
  color: white;
  list-style: none;
  line-height: 1.5em;
}
/* Fine Section Menu Footer */
/* Section Legal Social */
footer hr:first-of-type {
  margin: 30px 0;
  color: grey;

}
.social-footer li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
.social-footer a {
  color: white;
  font-size: 1em;
}
/* Section Legal Social */
/* Section Digital Store */

.nav {
  display: inline-block;
  list-style: none;
  margin-right: 5px;

}

.menu-digital-store {
  text-align: center;
}

 .digital-store img{
  width: 50%;
  border: 1px solid white;
  border-radius: 5px;
}

/* MEDIA QUERY */

@media all and (min-width: 768px) and (max-width: 991px) {
  .text-center-md {
    text-align: center;
  }
  .margin-md {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
  .margin-xs {
    margin-bottom: 10px;
  }
}

/* Fine Section Digital Store */
/* FINE FOOTER */
