/* Generali */
body {
  font-family: 'Montserrat', sans-serif;
}
.white {
  color: white;
  font-size: 1.5rem;
}
.text-center {
  text-align: center;
}
.margin {
  margin-right: 40px;
}
/* INIZIO HEADER */
/* Navbar */
.menu-top li {
  display: inline-block;
  padding-right: 15px;
}

.menu-top a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 500;
  color: black;
}

.wrapper {
  padding: 15px;
  vertical-align: middle;
}
/* Fine Navbar */
/* Jumbotron */
.jumbotron {
  background-image: url(../img/hero-bg.jpg);
  height: 60vh;
  position: relative;
}
.teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
/* Fine Jumbotron */

/* FINE HEADER */

/* MAIN */

/* Section Helbiz */
#products {
  padding: 50px 0px;
}

 .go , .bike {
   max-height: 22px;
 }

 .monopattino , .bicycle {
   max-width: 430px;
 }

.box {

  background-color: #fafafa;
  padding: 40px 0;


}
.helbiz-product {
  /* margin-right: 10%; */
}

/* Fine Section Helbiz */

/* FINE MAIN */
